body {
  font-size: 80%;
  font-family: Times, Serif;
  text-align: center;
  
  letter-spacing: 0.15em;
  background-color: #000;
}

#page {
  max-width: 940px;
  min-width: 720px;
  margin: 10px auto 10px auto;
  padding: 20px;
  border: 4px double #000;
  background-color: #ffffff;
}

h1 {
  font-size: 40px;
  padding: 30px;
  color: silver;
}

h2 {
  font-size: 20px;
  color: silver;
}
