body {
  background-color: rgb(0.0.0);
  color: silver;
  font-size: 80%;
  font-family: Times, Serif;
  text-align: center;
  letter-spacing: 0.15em;
}

#page {
  max-width: 940px;
  min-width: 720px;
  margin: 20px auto 10px auto;
  padding: 20px;
  border: 4px double silver;
}

h1 {
  font-size: 40px;
  padding: 30px;
}

h2 {
  font-size: 30px;
}
